Write a code to reverse a string

In [ ]:
Name = "Pwskills"
Reverse = Name[::-1]
print(Reverse)

sllikswP

Write a code to count the number of vowel in string

In [ ]:
s = "Pwskills"
vowels = "aeiouAEIOU"
count = sum(s.count(vowel) for vowel in vowels)
print(count)

1

Write a code to check if a string is palandrome or not

In [ ]:
string = "madam"
if string == string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

In [ ]:
string = "Sangeeta"
if string == string[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is not a palindrome.

Write a code to check if string are anagrams of each other or not

In [ ]:
def are_anagram(str1,str2):
  str1 = str1.replace(" ","").lower()
  str2 = str2.replace(" ","").lower()
  if len(str1)!= len(str2):
    return False
  else:
    return True

In [ ]:
are_anagram("Sachin","Sangeeta")

False

Write a code to find all occurence of a given substring within another string

In [ ]:
def find_all_occurrences(main_string, substring):
    start = 0
    while start < len(main_string):
        # Find the substring starting from the current position
        start = main_string.find(substring, start)

        if start == -1:  # No more occurrences found
            break

        # Print the starting index of the substring occurrence
        print(f"Substring '{substring}' found at index {start}")

        # Move start index to the next character after the found substring
        start += 1

# Example usage
main_string = "ababcabcabc"
substring = "abc"
find_all_occurrences(main_string, substring)

Substring 'abc' found at index 2
Substring 'abc' found at index 5
Substring 'abc' found at index 8

Write a code to perform basic string compression using the counts of repeated character.

In [ ]:
def compress_string(input_string):
    if not input_string:
        return ""

    compressed_string = []
    count = 1

    for i in range(1, len(input_string)):
        if input_string[i] == input_string[i - 1]:
            count += 1
        else:
            compressed_string.append(input_string[i - 1] + str(count))
            count = 1

    # Add the last character and its count
    compressed_string.append(input_string[-1] + str(count))

    # Join the list into a string and return
    compressed_result = ''.join(compressed_string)

    # If the compressed string is not shorter, return the original string
    return compressed_result if len(compressed_result) < len(input_string) else input_string

# Example usage
input_string = "aaabbbcccaaa"
compressed = compress_string(input_string)
print("Compressed string:", compressed)

Compressed string: a3b3c3a3

Write a code to covert a string to lower case

In [ ]:
string = "Sachin"
string.lower()

'sachin'

In [ ]:
string = "sangeeta"
string.upper()

'SANGEETA'

Write a code to count the number of words of a string

In [ ]:
def count_words(s: str) :
    return len(s.split())

# Example usage:
print(count_words("Hello world!"))  # Output: 2
print(count_words("Python is awesome."))  # Output: 3
print(count_words("   Multiple   spaces   between words   "))  # Output: 4

2
3
4

Write a code to concatenate two string without using the + operator

In [ ]:
s = "Apple"
b = "Macbook"

In [ ]:
s + b

'AppleMacbook'

In [ ]:
def concatenate_strings(s1: str, s2: str):
    return "".join([s1, s2])

In [ ]:
print(concatenate_strings("Apple", "Macbook"))

AppleMacbook

Write a code to remove all specific occurence of a element in a list

In [ ]:
def remove_occurrences(lst: list, target) :
    return [x for x in lst if x != target]

# Example usage:
print(remove_occurrences([1, 2, 3, 4, 2, 2, 5], 2))  # Output: [1, 3, 4, 5]
print(remove_occurrences(["a", "b", "c", "a", "d"], "a"))  # Output: ['b', 'c', 'd']

[1, 3, 4, 5]
['b', 'c', 'd']

Implement a code to find the second largest number of in a given list of integers

In [ ]:
l = [1,2,3,11,9,6,7]
l.sort(reverse=True)
print(l)
l[1]

[11, 9, 7, 6, 3, 2, 1]

9

Create a code to count the occurence of element in a list and return a dictionary with element as keys and their count as values

In [ ]:
from collections import Counter

def count_occurrences(lst: list) -> dict:
    return dict(Counter(lst))

# Example usage:
print(count_occurrences([1, 2, 2, 3, 4, 4, 4, 5]))
# Output: {1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

Q 15 : Write a code to reverse the element in a list without using the built in function reverse in it

In [ ]:
l = [1,2,3,4,56,53,34,23]
l[::-1]

[23, 34, 53, 56, 4, 3, 2, 1]

Q 16 : create a code to check whether a code is sorted in ascending order or descending order

In [ ]:
def sort(ele : list) :
    return ele == sorted(ele) or ele == sorted(ele, reverse=True)

In [ ]:
ele = [3,34,2,24,5,6,]

In [ ]:
sort(ele)

False

In [ ]:
ele = [1,2,3,4,5,6]
sort(ele)

True

Q 17 : Write a code to merge two sorted list into a list

In [ ]:
l = [1,2,3,4,5]
m = [11,12,13,14,15]
l.extend(m)
def sort(ele : list) :
    return ele == sorted(ele) or ele == sorted(ele, reverse=True)

In [ ]:
sort(l)

True

In [ ]:
print(l)

[1, 2, 3, 4, 5, 11, 12, 13, 14, 15]

Q 18 : Implement a code to find the intersection of two given list

In [ ]:
def list_intersection(lst1: list, lst2: list) -> list:
    return list(set(lst1) & set(lst2))  # Using set intersection

# Example usage:
print(list_intersection([1, 2, 3, 4, 5], [3, 4, 5, 6, 7]))
# Output: [3, 4, 5]

[3, 4, 5]

Create a code to find union of two list without duplicate

In [ ]:
l1 = [1,2,3,1,4,5,6]
l2 = [6,7,8,6,7,9,1,19]
def union(l1,l2):
  return list(set(l1+l2))

In [ ]:
union(l1,l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 19]

Write a code to take two tuple as input and return a new tuple containing element that are common to both input tuple

In [ ]:
t1 = (1,2,3,'sachin')
t2 = (2,3,4,'sangeeta')

def input_tuple(t1,t2):
  return tuple(set(t1) & set(t2))

In [ ]:
input_tuple(t1,t2)

(2, 3)

Develop a code that prompts the user to input two sets of string. Then,print the element that are present in the first set but not in the second set

In [ ]:
def get_set_difference():
    set1 = set(input("Enter elements of the first set (space-separated): ").split())
    set2 = set(input("Enter elements of the second set (space-separated): ").split())

    difference = set1 - set2  # Elements in set1 but not in set2

    print("Elements present in the first set but not in the second set:", difference)

# Run the function
get_set_difference()

Enter elements of the first set (space-separated): 1,2
Enter elements of the second set (space-separated): 1,2
Elements present in the first set but not in the second set: set()

Q 25 : Create a tuple that takes a tuple and two integer as input. The function should return a new tuple containg elements from the tuple within the specified range of indices

In [ ]:
def slice_tuple(tpl: tuple, start: int, end: int) -> tuple:
    return tpl[start:end]  # Slicing operation

# Example usage:
original_tuple = (10, 20, 30, 40, 50, 60)
new_tuple = slice_tuple(original_tuple, 1, 4)  # Extract elements from index 1 to 3
print(new_tuple)  # Output: (20, 30, 40)

(20, 30, 40)

Q 26 : Write a code to prompt the the user to input two set of character. Then,print the union of theses sets.

In [ ]:
s1 = {1,2,3,4,3}
s2 = {5,6,7,8,}
def union(s1,s2):
  print(set(s1) | set(s2))

In [ ]:
union(s1,s2)

{1, 2, 3, 4, 5, 6, 7, 8}

Q 27 : Develop a code tuple as integer as input. The function should return the maximum and minimum value from tuple using tuple unpacking.

In [ ]:
def find_min_max(tpl: tuple) -> tuple:
    min_val, max_val = min(tpl), max(tpl)  # Unpacking min and max values
    return min_val, max_val  # Returning as a tuple

# Example usage:
numbers = (10, 20, 5, 30, 15)
min_max = find_min_max(numbers)
print("Minimum:", min_max[0], "Maximum:", min_max[1])  # Output: Minimum: 5 Maximum: 30

Minimum: 5 Maximum: 30

Q 28 : Create a code that define two set of integer.Then print the union,intersection,and differnces of these two sets.

In [ ]:
def set_operations(set1, set2):
    union_set = set1.union(set2)
    intersection_set = set1.intersection(set2)
    difference_set = set1.difference(set2)

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
set_operations(set1,set2)

In [ ]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set1.intersection(set2)

{4, 5, 6}

In [ ]:
set1.difference(set2)

{1, 2, 3}

Q 29 : Write a code that take a tuple and an element as input .The function should return the count of occurences of the given element in tuple.

In [ ]:
def count_occurrences(tpl: tuple, element) -> int:
    return tpl.count(element)  # Using built-in count() method

# Example usage:
numbers = (1, 2, 3, 4, 2, 2, 5, 6, 2)
element_to_count = 2
print(count_occurrences(numbers, element_to_count))  # Output: 4

4

Q 30 : Develop a code that prompts the user to input two set of strings. Then print the symmetric difference of these two sets.

In [ ]:
def find_symmetric_difference():
    set1 = set(input("Enter elements of the first set (space-separated): ").split())
    set2 = set(input("Enter elements of the second set (space-separated): ").split())

    sym_diff = set1 ^ set2  # Symmetric difference (elements in either set but not both)

    print("Symmetric Difference:", sym_diff)

# Run the function
find_symmetric_difference()

Enter elements of the first set (space-separated): monu
Enter elements of the second set (space-separated): sachin
Symmetric Difference: {'sachin', 'monu'}

Q 31 : Write a code that take a list of word as input and returns a dictionary where the keys are unique words and the value are the frequencies of those words in the input list.

In [81]:
def word_frequencies(words: list) -> dict:
    freq_dict = {}
    for word in words:
        freq_dict[word] = freq_dict.get(word, 0) + 1  # Increment count
    return freq_dict

# Example usage:
words_list = ["apple", "banana", "apple", "cherry", "banana", "banana"]
print(word_frequencies(words_list))
# Output: {'apple': 2, 'banana': 3, 'cherry': 1}

{'apple': 2, 'banana': 3, 'cherry': 1}

Q 32 : write a code that take two dictinoraies as input and merges them to a single dictinoary. If there are common keys,the value should be added together.

In [90]:
def merge_dictionaries(dict1: dict, dict2: dict) -> dict:
    merged_dict = dict1.copy()  # Start with dict1

    for key, value in dict2.items():
        merged_dict[key] = merged_dict.get(key, 0) + value  # Add values if key exists

    return merged_dict

# Example usage:
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 25}

print(merge_dictionaries(dict1, dict2))
# Output: {'a': 10, 'b': 25, 'c': 45, 'd': 25}

{'a': 10, 'b': 25, 'c': 45, 'd': 25}